/* Background */

body  {
  /* background: linear-gradient(to top, #b0d4e3 0%,#88bacf 100%); */
  /* background: linear-gradient(to bottom, #1e5799 0%,#2989d8 11%,#207cca 93%,#7db9e8 100%); */
  /* background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('./images/background.png');
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



/* TITLE AND H2 */

h1 {
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  /* font-weight: 000; */
  /* background-color: white; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin: 0 auto;
    word-wrap: break-word;
}

.player-status {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-around;
  margin: auto;
  /* width: 70%; */
}

h2 {
  font-family: 'Indie Flower', cursive;
  /* color: rgb(194,89,69); */
  font-size: 30px;
  margin: 0;
}

/* Novel Dispaly */


 .novel-display {
  /* border: solid 1px red; */
  /* padding: 5px;
  text-align: center;
  vertical-align: middle; */
  /* color: white; */
  visibility: hidden;
}


#current-word {
  display: flex;
  justify-content: center;
  /* border: solid 1px red; */
  width: 65px;
  text-align: center;
  margin: 0 auto;
  font-size: 70px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    color: white;
  }
  100% {
      color: black;
  }

}


/* MIDDLE HALF */

.middle-half {
  display: flex;
  justify-content: center;
}

.letter-display-main{
  margin: 0 auto;
}

.letter-display{
  /* border: solid 1px red; */
  width: 530px;
  height: 30px;
  color: #5ca1e1;
  font-size: 14px;
  outline: none;
  border:1px solid #666;
  border-radius: 10px;
  /* text-align: inline-block; */
}
input::-webkit-input-placeholder {
    font-size: 12.5px;
    color: #5ca1e1;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
input {
  opacity: 0.8;
}





.letter-display:focus{
  border: 3px solid #666;
}

.letter-display:active{
  border: 3px solid #666;
}


.main-portion {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* border: solid 1px red; */
  /* width: 100%;
  height: 100%; */
}



.playerScore {
  justify-content: center;
  border: solid 1px red;
}


.input-display{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 75%;
  /* width: 100%; */
  /* border: solid 1px red; */
}




/* BUTTON */

.nwg-button {
  justify-content: space-between;
  /* border: solid 1px red; */
}

#start-btn {
  width: 200px;
  height: 40px;
}


#start-btn {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: black;
  /* justify-content: left; */
  font-size: 19px;
  font-weight: bold;
  padding: 8px;
  width: 220px;
  transition: all 1s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  /* display: inline-block; */
  position: relative;
  transition: 0.5s;
  font-family: 'Indie Flower', cursive;
}

#start-btn:after {
  content: '»»';
  position: absolute;
  opacity: 0;
  right: 10px;
  transition: 0.5s;
}

#start-btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

#start-btn:hover:after {
  opacity: 1;
  right: 30px;
}


#new-game:hover{
  width: 200px;
  height: 40px;
  font-size: 19px;

}

#start-btn:hover:after {
  opacity: 1;
  right: 30px;
}

#new-game {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: black;
  font-weight: bold;
  /* justify-content: left; */
  font-size: 16px;
  padding: 8px;
  height: 40px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Indie Flower', cursive;
}

/* leader-board */

.leader-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.score-player {
  margin-bottom: 0;
}

#wrong-words {
  margin-top: 0;
  color: crimson;
}
.wrong-word-font {
  font-size: 20px;
}


/* Feedback after game is finished */
.all {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
}
.hidden {
  /* border: solid 1px red; */
  /* align-items: center; */
  font-family: 'Indie Flower', cursive;
}
